.DS_Store
__pycache__
Examples/build/*.bat
Examples/build/CMakeCache.txt
Examples/build/CMakeFiles/
Examples/build/Makefile
Examples/build/bin2_example1/
Examples/build/bin_example1/
Examples/build/cmake_install.cmake
Examples/build/bin_example2
Examples/build/bin_dsp/
Examples/build/bin_example3/
*.pyd
Examples/build/localcreate.bat
Examples/build/input_example3.txt
Examples/build/bin_example6/
Examples/build/input_example6.txt
Examples/build/output_example3.txt
Examples/build/output_example6.txt
Examples/eventrecorder/tmp/
Examples/eventrecorder/out/
Examples/eventrecorder/DebugConfig/
PythonPackage/dist/
PythonPackage/build/
PythonPackage/cmsis_stream.egg-info/
*.exe
*.ilk
*.pdb
*.obj
Examples/build/build.bat
Examples/build/bin_*
Tests/out/
Tests/tmp/
Examples/simple/simple
Examples/build_linux/
Tests/build/
Examples/eventrecorder/RTE/_CommandLine_VHT-Corstone-300/
Examples/graphvizexample/dots/
Examples/graphvizexample/features/
Examples/eventrecorder/*.cbuild-idx.yml
*.cbuild-idx.yml
.clangd
*.cbuild-pack.yml
*.cbuild-set.yml
Examples/events/simple
Examples/build/build.sh
