include README.md
include cmsis_stream/cg/scheduler/templates/*
include cmsis_stream/cg/scheduler/templates/reference_code/*
include cmsis_stream/cg/scheduler/templates/reference_code/cmsis/*
include cmsis_stream/cg/scheduler/templates/reference_code/posix/*
include cmsis_stream/cg/scheduler/example/*


